# Copy this file to .env and adjust as needed.

POSTGRES_USER=somasafe
POSTGRES_PASSWORD=somasafe
POSTGRES_DB=somasafe
# POSTGRES_HOST=localhost
# POSTGRES_PORT=5432

# REDIS_HOST=localhost
# REDIS_PORT=6379

SEED_USER=somasafe
SEED_PASSWORD=somasafe
